version: '3.8'

services:
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - CHOKIDAR_USEPOLLING=true
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=dogsdb
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY="SECRET_DEV_KEY"
      - ACCESS_TOKEN_EXPIRE_MINUTES=60
      - DATABASE_URL=postgresql+psycopg2://admin:admin@db:5432/dogsdb
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      db:
        condition: service_healthy

  react-app:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
