version: '3.8'

services:
  db:
    build:
      context: ./bdd
      dockerfile: Dockerfile
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - CHOKIDAR_USEPOLLING=true
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app
    environment:
      - DATABASE_URL=postgresql+psycopg2://admin:admin@db:5432/dogsdb
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - db

  react-app:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./app:/app
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - db

volumes:
  postgres_data:
