apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
        application: my-companion
    spec:
      containers:
        - name: db-container
          image: postgres:16
          ports:
            - containerPort: 5432
          envFrom:
            - configMapRef:
                name: my-companion-config
            - secretRef:
                name: my-companion-secret
          volumeMounts:
            - name: db-my-companion
              mountPath: /var/lib/postgresql/data
          readinessProbe:
            exec:
              command:
                - "sh"
                - "-c"
                - "pg_isready -U \"$POSTGRES_USER\" -d \"$POSTGRES_DB\""
            initialDelaySeconds: 5
            periodSeconds: 5
      volumes:
        - name: db-my-companion
          persistentVolumeClaim:
            claimName: db-pvc
